@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}
*,::after,::before{
    box-sizing:inherit
}

html,body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

hr {
	max-width: 1000px;
	color: #718093;
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.parallax {
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
	text-decoration: none;
	color: #5352ed;
	transition: all .2s ease-in;
}

a:hover {
	text-decoration: none;
	color: #192a56;
	transition: all .2s ease-in;
}

#portfoliobutton {
	background: #5E5DF0;
	border-radius: 999px;
	box-shadow: #5E5DF0 0 10px 20px -10px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

/* Navbar */

.topnav {
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(36, 32, 32);
    box-shadow: 0px 6px 13px -7px rgba(0,0,0,0.20);
    transition: all .2s ease-in;
    font-weight: 700;
    text-transform: uppercase;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #155ada;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  div .max-width {
    max-width: 60%;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* End Navbar */

#head {
	margin: 0;
	padding: 130px 0px 200px 0px;
	text-align: center;
	color: white;
}

#head h1 {
	font-size: 55px;
	font-weight: 700;
	text-transform: uppercase;
}

#head h3 {
	font-size: 22px;
	text-transform: uppercase;
}

#about {
	margin: 10px;
	text-align: center;
	padding-top: 66px;
	padding-bottom: 66px;
}

#about h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#about .about-me {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 60px;
}

#about .about {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#about h2 {
	margin-top: 5px;
	font-size: 20px;
}

#about p {
	margin-top: 3px;
	font-size: 18px;
}

#banner {
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner2 {
	padding: 75px 0px 75px 0px;
	text-align: center;
}

#banner h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

#banner2 h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#banner2 h2 {
	margin-top: 5px;
	font-size: 20px;
	color: white;
}

footer {
	background-color: #11171e;
	color: white;
}

footer a {
	text-decoration: none;
	color: #ffffff;
	transition: all .2s ease-in;
}

footer a:hover {
	text-decoration: none;
	color: #244aac;
	transition: all .2s ease-in;
}

.the-footer {
	max-width: 1280px;
	margin: 0 auto;
	float: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact-info {
	color: #ffffff;
	margin: 0;
	margin-bottom: 0;
	padding: 0;
	text-align: center;
	transition: all .2s ease-in;
	cursor: default;
}

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
  }

@media screen and (min-width: 800px) {
	.res-img {
		width: 480px;
	}
}

@media screen and (max-width: 799px) {
	.res-img {
		width: 100%;	}
}

@media screen and (min-width: 800px) {
	.res-img-sm {
		height: 110px;
	}
}

@media screen and (max-width: 799px) {
	.res-img-sm {
		width: 100%;	}
}